{% extends "base.html" %}

{% block body %}


<div class="text-center my-3">
	<h2 class="">Build anything</h2>
	<p class="text-muted text-center text-justify">Themes built by or reviewed by Bootstrap's creators.</p>
</div>



<div class="jumbotron jumbotron-fluid m-0">

<div class="container">

<div>
    <h5 class="theme-cards__title">Catagory</h5>
</div>
<hr>

<div class="row m-0 ">

{% if catagory %}

{% for i in catagory %}
<figure class="figurep-2 col-6 col-md-4 col-lg-3">
  <a href="{% url 'product' catagory_slug=i.slug %}"><img src="/media/{{ i.img }}" class="figure-img shadow-lg img-fluid rounded" alt="..."></a>
  <figcaption class="figure-caption text-bold jumcol"><b>{{ i.title }}</b></figcaption>
</figure>

{% endfor %}
{% else %}
    <h3 class="jumcol theme-cards__title">Sorry but no Catagory of this name exist!  </h3>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endif %}

</div>

<div>
    <h5 class="theme-cards__title">product</h5>
</div>
<hr>

<div class="row m-0 ">

{% if product %}
    {% for i in product %}
    <figure class="figurep-2 col-6 col-md-4 col-lg-3">

        <a href="{{ i.href }}"><img src="/media/{{ i.img }}" class="figure-img shadow-lg img-fluid rounded" alt="..."></a>
      <figcaption class="figure-caption text-bold jumcol"><b>{{ i.title }}</b></figcaption>

    </figure>

    {% endfor %}
{% else %}
    <h3 class="jumcol theme-cards__title">Sorry but no Product of this name exist!  </h3>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endif %}

</div>

</div>

</div>




{% endblock %}